* , *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box{
    width: 150px;
    height: 150px;
    background-color: white;
    position: relative;
    margin: 5rem ;
    animation-name: box;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    transition: all;
    transition-duration: 2s;
}
@keyframes box{
    0%   {background-color: white; border-radius: 0 0 0 0; top:0; left:0}
    25%  {background-color: blueviolet; border-radius: 50% 0 0 0; top:0; left: 20rem;}
    50%  {background-color: firebrick; border-radius: 50% 50% 0 0; top:20rem; left:20rem}
    75%  {background-color: lightskyblue; border-radius: 50% 50% 50% 0; top: 20rem; left: 0;}
    100% {background-color: greenyellow; border-radius: 50%; top: 0; left: 0;}
}

.box:hover{
    transform: rotateY(180deg);
    background-color: hotpink;
    border-radius: 50%;
}